In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df= pd.read_excel("Titan.xlsx", sheet_name="Sheet1")
data_df.head(5)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [3]:
#Question 1
#Find the mean of old scheme and new scheme column.

In [8]:
#Answer 1
data_df.describe().iloc[1:2]

      SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
mean         15.5                  68.033333                  72.033333

In [9]:
#Question 2
#Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?


Null Hypothesis : New scheme does not have significantly raised outputs

Alternate Hypothesis : New scheme has significantly raised outputs

In [10]:
from scipy.stats import ttest_rel
two_sample=ttest_rel(data_df['Old Scheme (in thousands)'],data_df['New Scheme (in thousands)'])
two_sample

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [11]:
#Question 3
#What conclusion does the test (p-value) lead to?

p=0.1305/2=0.065
p>0.05 Hence null hypothesis is accepted.
New scheme does not have significantly raised outputs

In [14]:
#Question 4
#Suppose it has been calculated that in order for Titan to break even, 
#the average output must increase by £5000 in the scheme compared to the old scheme. 
#If this figure is alternative hypothesis, what is:
# a) The probability of a type 1 error? (2 points)
#b) What is the p- value of the hypothesis test if we test for a difference of $5000? (8 points)
#c) Power of the test (5 points)

Null Hypothesis : The average output has not increased by £5000 in the scheme compared to the old scheme, or mean difference is less than equal to 5000

Alternate Hypothesis : The average output has increased by £5000 in the scheme compared to the old scheme, or mean difference is greater than 5000

In [15]:
data_df['diff']=data_df['New Scheme (in thousands)']-data_df['Old Scheme (in thousands)']
from scipy.stats import ttest_1samp
one_sample = ttest_1samp(data_df['diff'], 5)
one_sample

Ttest_1sampResult(statistic=-0.3889785955886094, pvalue=0.7001334912613286)

p=0.7/2=0.14
p>0.05. Null hypothesis is accepted.
The average output has not increased by £5000 in the new scheme compared to the old scheme

In [16]:
TypeIError=1-0.14
print("The probability of making TypeIError is",TypeIError)

The probability of making TypeIError is 0.86

In [17]:
from statsmodels.stats.power import TTestPower

In [18]:
effect=data_df['diff'].mean()/data_df['diff'].std()
analysis = TTestPower()
result = analysis.solve_power(effect ,nobs=30, alpha=0.86)
print("The power of the test is",result)

The power of the test is 0.9577194244960947