# Statistics Project

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

 

You are required to do the following:

1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (3 points)
2. Print all the teams which have started playing between 1930-1980. (5 points)
3. Print the list of teams which came Top 5 in terms of points (3 points)
4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same    function, find the team which has maximum and minimum goal difference. (7 points)
        
        Goal_diff_count = GoalsFor - GoalsAgainst

5. Create a new column with name “Winning Percent” and append it to the data set (6 points)

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

6. Group teams based on their “Best position” and print the sum of their points for all positions (6 points)

Eg: Best Position     Points

        1              25000

        2               7000

In [1]:
import numpy as np
import pandas as pd

Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (3 points)

# Solution 1

In [27]:
import csv
teams = pd.read_csv('Laliga.csv',header=1,quoting = csv.QUOTE_NONNUMERIC) #Importing data
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1.0,Real Madrid,86.0,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1.0
1,2.0,Barcelona,86.0,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1.0
2,3.0,Atletico Madrid,80.0,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1.0
3,4.0,Valencia,82.0,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1.0
4,5.0,Athletic Bilbao,86.0,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1.0
5,6.0,Sevilla,73.0,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1.0
6,7.0,Espanyol,82.0,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3.0
7,8.0,Real Sociedad,70.0,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1.0
8,9.0,Zaragoza,58.0,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2.0
9,10.0,Real Betis,51.0,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1.0
10,11.0,Deportivo La Coruna,45.0,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1.0
11,12.0,Celta Vigo,51.0,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4.0
12,13.0,Valladolid,42.0,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4.0
13,14.0,Racing Santander,44.0,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2.0
14,15.0,Sporting Gijon,43.0,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2.0
15,16.0,Osasuna,37.0,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4.0
16,17.0,Malaga,36.0,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4.0
17,18.0,Oviedo,38.0,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3.0
18,19.0,Mallorca,27.0,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3.0
19,20.0,Las Palmas,33.0,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2.0
20,21.0,Villarreal,17.0,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2.0
21,22.0,Granada,23.0,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6.0
22,23.0,Rayo Vallecano,17.0,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8.0
23,24.0,Elche,21.0,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5.0
24,25.0,Getafe,12.0,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6.0
25,26.0,Hercules,20.0,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5.0
26,27.0,Tenerife,13.0,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5.0
27,28.0,Murcia,18.0,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11.0
28,29.0,Alaves,12.0,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6.0
29,30.0,Levante,11.0,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32.0,Sabadell,14.0,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4.0
32,33.0,Cadiz,12.0,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12.0
33,34.0,Logrones,9.0,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7.0
34,35.0,Castellon,11.0,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4.0
35,36.0,Albacete,7.0,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7.0
36,37.0,Almeria,6.0,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8.0
37,38.0,Cordoba,9.0,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5.0
38,39.0,Compostela,4.0,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10.0
39,40.0,Recreativo,5.0,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8.0
40,41.0,Burgos CF,6.0,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12.0
41,42.0,Pontevedra,6.0,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7.0
42,43.0,Numancia,4.0,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17.0
43,44.0,Eibar,3.0,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10.0
44,45.0,Arenas,7.0,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3.0
45,46.0,Real Burgos,3.0,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9.0
46,47.0,Gimnastic,4.0,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7.0
47,48.0,Extremadura,2.0,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17.0
48,49.0,Merida,2.0,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19.0
49,50.0,Alcoyano,4.0,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10.0
50,51.0,Jaen,3.0,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14.0
51,52.0,Real Union,4.0,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6.0
52,53.0,AD Almeria,2.0,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10.0
53,54.0,Europa,3.0,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8.0
54,55.0,Lleida,2.0,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16.0
55,56.0,Leganes,1.0,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17.0
56,57.0,Xerez,1.0,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20.0
57,58.0,Condal,1.0,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16.0
58,59.0,Atletico Tetuan,1.0,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16.0
59,60.0,Cultural Leonesa,1.0,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15.0
60,61.0,Girona,1.0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9.0

In [28]:
teams.replace('-','0',inplace=True) #replacing dashes with 0 
teams

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1.0,Real Madrid,86.0,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1.0
1,2.0,Barcelona,86.0,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1.0
2,3.0,Atletico Madrid,80.0,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1.0
3,4.0,Valencia,82.0,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1.0
4,5.0,Athletic Bilbao,86.0,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1.0
5,6.0,Sevilla,73.0,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1.0
6,7.0,Espanyol,82.0,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3.0
7,8.0,Real Sociedad,70.0,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1.0
8,9.0,Zaragoza,58.0,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2.0
9,10.0,Real Betis,51.0,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1.0
10,11.0,Deportivo La Coruna,45.0,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1.0
11,12.0,Celta Vigo,51.0,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4.0
12,13.0,Valladolid,42.0,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4.0
13,14.0,Racing Santander,44.0,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2.0
14,15.0,Sporting Gijon,43.0,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2.0
15,16.0,Osasuna,37.0,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4.0
16,17.0,Malaga,36.0,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4.0
17,18.0,Oviedo,38.0,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3.0
18,19.0,Mallorca,27.0,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3.0
19,20.0,Las Palmas,33.0,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2.0
20,21.0,Villarreal,17.0,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2.0
21,22.0,Granada,23.0,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6.0
22,23.0,Rayo Vallecano,17.0,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8.0
23,24.0,Elche,21.0,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5.0
24,25.0,Getafe,12.0,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6.0
25,26.0,Hercules,20.0,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5.0
26,27.0,Tenerife,13.0,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5.0
27,28.0,Murcia,18.0,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11.0
28,29.0,Alaves,12.0,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6.0
29,30.0,Levante,11.0,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32.0,Sabadell,14.0,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4.0
32,33.0,Cadiz,12.0,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12.0
33,34.0,Logrones,9.0,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7.0
34,35.0,Castellon,11.0,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4.0
35,36.0,Albacete,7.0,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7.0
36,37.0,Almeria,6.0,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8.0
37,38.0,Cordoba,9.0,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5.0
38,39.0,Compostela,4.0,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10.0
39,40.0,Recreativo,5.0,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8.0
40,41.0,Burgos CF,6.0,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12.0
41,42.0,Pontevedra,6.0,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7.0
42,43.0,Numancia,4.0,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17.0
43,44.0,Eibar,3.0,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10.0
44,45.0,Arenas,7.0,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3.0
45,46.0,Real Burgos,3.0,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9.0
46,47.0,Gimnastic,4.0,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7.0
47,48.0,Extremadura,2.0,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17.0
48,49.0,Merida,2.0,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19.0
49,50.0,Alcoyano,4.0,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10.0
50,51.0,Jaen,3.0,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14.0
51,52.0,Real Union,4.0,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6.0
52,53.0,AD Almeria,2.0,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10.0
53,54.0,Europa,3.0,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8.0
54,55.0,Lleida,2.0,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16.0
55,56.0,Leganes,1.0,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17.0
56,57.0,Xerez,1.0,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20.0
57,58.0,Condal,1.0,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16.0
58,59.0,Atletico Tetuan,1.0,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16.0
59,60.0,Cultural Leonesa,1.0,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15.0
60,61.0,Girona,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9.0

Print all the teams which have started playing between 1930-1980. (5 points)

# Solution 2

In [30]:
teams_set = teams[(teams['Debut']>'1930')&(teams['Debut']<'1980')] #all the teams which have started playing between 1930-1980
teams_set

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4.0,Valencia,82.0,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1.0
5,6.0,Sevilla,73.0,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1.0
8,9.0,Zaragoza,58.0,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2.0
9,10.0,Real Betis,51.0,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1.0
10,11.0,Deportivo La Coruna,45.0,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1.0
11,12.0,Celta Vigo,51.0,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4.0
12,13.0,Valladolid,42.0,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4.0
14,15.0,Sporting Gijon,43.0,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2.0
15,16.0,Osasuna,37.0,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4.0
16,17.0,Malaga,36.0,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4.0
17,18.0,Oviedo,38.0,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3.0
18,19.0,Mallorca,27.0,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3.0
19,20.0,Las Palmas,33.0,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2.0
21,22.0,Granada,23.0,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6.0
22,23.0,Rayo Vallecano,17.0,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8.0
23,24.0,Elche,21.0,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5.0
25,26.0,Hercules,20.0,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5.0
26,27.0,Tenerife,13.0,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5.0
27,28.0,Murcia,18.0,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11.0
28,29.0,Alaves,12.0,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6.0
29,30.0,Levante,11.0,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6.0
30,31.0,Salamanca,12.0,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974-75,1998-99,7.0
31,32.0,Sabadell,14.0,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4.0
32,33.0,Cadiz,12.0,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12.0
34,35.0,Castellon,11.0,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4.0
37,38.0,Cordoba,9.0,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5.0
39,40.0,Recreativo,5.0,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8.0
40,41.0,Burgos CF,6.0,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12.0
41,42.0,Pontevedra,6.0,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7.0
46,47.0,Gimnastic,4.0,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7.0
49,50.0,Alcoyano,4.0,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10.0
50,51.0,Jaen,3.0,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14.0
52,53.0,AD Almeria,2.0,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10.0
54,55.0,Lleida,2.0,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16.0
57,58.0,Condal,1.0,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16.0
58,59.0,Atletico Tetuan,1.0,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16.0
59,60.0,Cultural Leonesa,1.0,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15.0

Print the list of teams which came Top 5 in terms of points (3 points)

# Solution 3

In [33]:
teams['Points'] = pd.to_numeric(teams['Points']) #convert column data type to numeric

In [37]:
teams.sort_values(by='Points',ascending = False).head(5) #the list of teams which came Top 5 in terms of points

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1.0,Real Madrid,86.0,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1.0
1,2.0,Barcelona,86.0,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1.0
2,3.0,Atletico Madrid,80.0,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1.0
3,4.0,Valencia,82.0,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1.0
4,5.0,Athletic Bilbao,86.0,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1.0

Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (7 points)

Goal_diff_count = GoalsFor - GoalsAgainst

# Solution 4

In [38]:
#convert column data type to numeric
teams['GoalsFor'] = pd.to_numeric(teams['GoalsFor'])
teams['GoalsAgainst'] = pd.to_numeric(teams['GoalsAgainst'])

In [82]:
#Below function returns all the teams with their Goal Differences
Goal_diff_count = lambda x,y,z:(x,y-z)
GoalDiff = pd.DataFrame(list(Goal_diff_count(teams['Team'],teams['GoalsFor'],teams['GoalsAgainst'])),index=['Team','GoalDiffCount']).T
print(GoalDiff)

                   Team GoalDiffCount
0           Real Madrid          2807
1             Barcelona          2786
2       Atletico Madrid          1225
3              Valencia           929
4       Athletic Bilbao           931
5               Sevilla           307
6              Espanyol          -280
7         Real Sociedad            -2
8              Zaragoza          -164
9            Real Betis          -333
10  Deportivo La Coruna          -136
11           Celta Vigo          -346
12           Valladolid          -413
13     Racing Santander          -525
14       Sporting Gijon          -399
15              Osasuna          -334
16               Malaga          -342
17               Oviedo          -309
18             Mallorca          -189
19           Las Palmas          -399
20           Villarreal           103
21              Granada          -338
22       Rayo Vallecano          -328
23                Elche          -272
24               Getafe          -113
25             Hercules          -334
26             Tenerife          -125
27               Murcia          -385
28               Alaves          -165
29              Levante          -202
..                  ...           ...
31             Sabadell          -228
32                Cadiz          -269
33             Logrones          -198
34            Castellon          -169
35             Albacete           -90
36              Almeria          -122
37              Cordoba          -145
38           Compostela           -42
39           Recreativo           -94
40            Burgos CF           -94
41           Pontevedra           -56
42             Numancia           -98
43                Eibar           -28
44               Arenas           -81
45          Real Burgos           -38
46            Gimnastic          -114
47          Extremadura           -55
48               Merida           -45
49             Alcoyano          -107
50                 Jaen           -62
51           Real Union           -31
52           AD Almeria           -45
53               Europa           -34
54               Lleida          -112
55              Leganes           -19
56                Xerez           -28
57               Condal           -20
58      Atletico Tetuan           -34
59     Cultural Leonesa           -31
60               Girona             0

[61 rows x 2 columns]

In [84]:
#finding team which has maximum goal difference
GoalDiff[GoalDiff["GoalDiffCount"]==GoalDiff["GoalDiffCount"].max()]

          Team GoalDiffCount
0  Real Madrid          2807

In [85]:
#finding team which has minimum goal difference
GoalDiff[GoalDiff["GoalDiffCount"]==GoalDiff["GoalDiffCount"].min()]

                Team GoalDiffCount
13  Racing Santander          -525

Create a new column with name “Winning Percent” and append it to the data set (6 points)

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

# Solution 5

In [60]:
#convert column data type to numeric
teams['GamesWon'] = pd.to_numeric(teams['GamesWon'])
teams['GamesPlayed'] = pd.to_numeric(teams['GamesPlayed'])

In [86]:
#created new column with name “Winning Percent” and appended to teams dataset
teams['Winning Percent'] = (teams['GamesWon'] / teams['GamesPlayed'])*100 

#Replacing any numerical error with 0%
teams.fillna(value=0)

#top 5 teams which has the highest Winning percentage
teams.sort_values(by='Winning Percent',ascending = False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
0,1.0,Real Madrid,86.0,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1.0,59.630702
1,2.0,Barcelona,86.0,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1.0,57.241130
2,3.0,Atletico Madrid,80.0,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1.0,47.475134
3,4.0,Valencia,82.0,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1.0,44.557057
4,5.0,Athletic Bilbao,86.0,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1.0,43.772629

Group teams based on their “Best position” and print the sum of their points for all positions (6 points)

Eg: Best Position                    Points

        1     25000

        2     7000

# Solution 6

In [87]:
#Grouping teams based on their “Best position” and print the sum of their points for all positions
teams.groupby(['BestPosition'])['Points'].sum()

BestPosition
1.0     27933
2.0      6904
3.0      5221
4.0      6563
5.0      1884
6.0      2113
7.0      1186
8.0      1134
9.0        96
10.0      450
11.0      445
12.0      511
14.0       71
15.0       14
16.0       81
17.0      266
19.0       81
20.0       34
Name: Points, dtype: int64